<!-- <p>showdetail works!</p> -->
<div
  *ngIf="profileForm"
  style="margin-top: 15px; padding-left: 15px; padding-right: 15px"
>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
    novalidate
  >
    <div class="form-group">
      <label for="date">Event Date</label>
      <div class="input-group">
        <!-- Angular Bug ??? formControlName="date" throws an error on datepicker popup -->
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [formControl]="$any(profileForm.controls['date'])"
          ngbDatepicker
          #d="ngbDatepicker"
        />

        <!-- class="btn btn-outline-secondary calendar" -->
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d.toggle()"
            type="button"
            title="Select Date"
          >
            <ng-icon
              name="bootstrapCalendar2Date"
              style="min-height: 18px"
            ></ng-icon>
          </button>
        </div>
      </div>
      <div
        *ngIf="
          profileForm.get('date')?.invalid &&
          (profileForm.get('date')?.dirty || profileForm.get('date')?.touched)
        "
        class="alert alert-danger"
      >
        Please choose an Event Date.
      </div>
    </div>

    <div class="form-group">
      <label for="venue">Venue</label>
      <input
        formControlName="venue"
        type="text"
        class="form-control"
        id="venue"
        aria-describedby="venueHelp"
        required
        [ngbTypeahead]="searchVenue"
      />
      <div
        *ngIf="
          profileForm.get('venue')?.invalid &&
          (profileForm.get('venue')?.dirty || profileForm.get('venue')?.touched)
        "
        class="alert alert-danger"
      >
        Please choose a Venue.
      </div>
    </div>

    <!-- <div>
          {{knownArtists.length}} Known Artists
        </div>

        <div>
          Known Artists Search Term = [{{knownArtistsSearchTerm}}]
        </div>

        <div>
          {{knownArtistsMatches.length}} Known Artists Matches
        </div> -->
    <div formArrayName="artists" class="clearfix">
      <div *ngFor="let artist of artists.controls; let i = index">
        <div class="form-group" [formGroupName]="i">
          <label for="artistName">Artist Name {{ i + 1 }}</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="artistName"
            aria-describedby="artistNameHelp"
            required
            [ngbTypeahead]="searchKnownArtists"
          />
          <div
            *ngIf="
              artist.get('name')?.invalid &&
              (artist.get('name')?.dirty || artist.get('name')?.touched)
            "
            class="alert alert-danger"
          >
            Please choose an Artist Name.
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          class="btn btn-outline-dark float-right btn-sm"
          type="button"
          (click)="addArtist()"
        >
          Add Artist
        </button>
      </div>
    </div>

    <div>
      <hr />
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        type="button"
        class="btn btn-success btn-sm"
        [ngStyle]="{
          cursor: profileForm.valid ? 'pointer' : 'not-allowed',
          margin: '5px'
        }"
        (click)="submitShow()"
        [disabled]="!profileForm.valid"
      >
        OK
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        style="margin: 5px"
        (click)="cancelUpdateShow()"
      >
        Cancel
      </button>
    </div>

    <br />

    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="isSoldOutCheckBox"
        formControlName="isSoldOut"
      />
      <label class="form-check-label" for="isSoldOutCheckBox">Sold Out</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="isCancelledCheckBox"
        formControlName="isCancelled"
      />
      <label class="form-check-label" for="isCancelledCheckBox"
        >Cancelled</label
      >
    </div>

    <div>
      <hr />
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <input
        formControlName="notes"
        type="text"
        class="form-control"
        id="notes"
        aria-describedby="notesHelp"
      />
      <div
        *ngIf="
          profileForm.get('notes')?.invalid &&
          (profileForm.get('notes')?.dirty || profileForm.get('notes')?.touched)
        "
        class="alert alert-danger"
      >
        Please add some notes.
      </div>
    </div>

    <div class="form-group">
      <label for="priceText">Price</label>
      <input
        formControlName="priceText"
        type="text"
        class="form-control"
        id="priceText"
        aria-describedby="priceTextHelp"
      />
      <div
        *ngIf="
          profileForm.get('priceText')?.invalid &&
          (profileForm.get('priceText')?.dirty ||
            profileForm.get('priceText')?.touched)
        "
        class="alert alert-danger"
      >
        Please add price details.
      </div>
    </div>

    <div class="form-group">
      <label for="eventIdBts">BTS Id</label>
      <input
        formControlName="eventIdBts"
        type="text"
        class="form-control"
        id="eventIdBts"
        aria-describedby="eventIdBtsHelp"
      />
      <div
        *ngIf="
          profileForm.get('eventIdBts')?.invalid &&
          (profileForm.get('eventIdBts')?.dirty ||
            profileForm.get('eventIdBts')?.touched)
        "
        class="alert alert-danger"
      >
        Please add BTS Id.
      </div>
    </div>

    <div>
      <hr />
    </div>

    <!-- <p>
          Form Status: {{ profileForm.status }}
        </p> -->
    <!-- <div *ngIf="profileForm.invalid &&
          (profileForm.dirty || profileForm.touched)"
          class="alert alert-danger">
          Please enter the required values.
        </div> -->
    <!--
        <div *ngIf="!profileForm.invalid" class="alert alert-success">
          The event details are valid!
        </div>
        -->
    <!-- <button type="submit" class="btn btn-success btn-sm float-right"
      style="margin-bottom: 15px;"
      (click)="submitShow()"
      [disabled]="!profileForm.valid">Save</button> -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        type="button"
        class="btn btn-success btn-sm"
        [ngStyle]="{
          cursor: profileForm.valid ? 'pointer' : 'not-allowed',
          margin: '5px'
        }"
        (click)="submitShow()"
        [disabled]="!profileForm.valid"
      >
        OK
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        style="margin: 5px"
        (click)="cancelUpdateShow()"
      >
        Cancel
      </button>
    </div>

    <br />
    <br />

    <!-- <pre>{{ profileForm.value | json }}</pre> -->
  </form>

  <div>
    <!-- <div>
      <span class="badge badge-info">{{addedTodayShows.length}}</span>
      <span> new today </span>

      <span class="badge badge-info">{{addedWithin3DaysShows.length}}</span>
      <span> last 3 days </span>

      <span class="badge badge-info">{{addedWithin7DaysShows.length}}</span>
      <span> last 7 days </span>
    </div>

    <hr />

    <div>
      <a routerLink="/list/0" class="btn btn-outline-primary btn-lg btn-block"
        href="#"
        role="button">
        View All Shows ({{showsInfo ? showsInfo.shows.length : 0}})
      </a>
    </div> -->
    <div *ngIf="isUpdating">Updating...</div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>
